<!doctype html>
<html>
    <head>
         <table>
        <tr>
            <td>
                 <a href="/blog">All Blogs</a>
            <td>
                <a href='/'>Home</a></nav>
            </td>
            <td>
                <a href="/newpost">Add A New Post</a>
            </td>
            <td>
                 <a href='/logout'>Logout</a>
            </td>
            <td>
                <a href='/login'>Login</a>
            </td>
        </table>
        <style type="text/css">
            .error{
                color: red;
            }
        </style>
    </head>
<body>
   

    
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>