{% extends "base.html" %}

{% block content %}
    <h1>Add A Blog Post!!!</h1>
    <form action='/newpost' method = 'post'>
        <table>
            <tr>
                <td>
                    <label>
                        Title For Your New Blog:
                       
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                     <input type="text" name='title'/>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br>
                    <label>
                        Your New Blog:
                    </label>
                       
                </td>
            </tr>
            <tr>
                <td>
                    <input type='text' name='blog'/>
                </td>
            </tr>
            <tr>
                <td>
                     <input type='submit' value='Add entry'/>
                </td>
            <tr>
        </table>
{% endblock %}