{% extends "base.html" %}

{% block content %}
    {% if user_blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        
            {% for x in user_blogs %}
            <table>
                <tr>
                    <td>
                        <h1><a href='/blog?id={{x.id}}'>{{x.title}}</a></h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>{{x.body}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><i>written by <a href="/blog?user={{user_name.id}}">{{user_name.username}}</a></i></p>
                        <p>{{x.pub_date}}</p>
                    </td>
                </tr>
            </table>
            {% endfor %}
        
    {% endif %}

{% endblock %}